@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "AVENIR-ROMAN";
  src: url("../public/fonts/AvenirLTStd-Roman.otf");
}

@font-face {
  font-family: "AVENIR-BLACK";
  src: url("../public/fonts/AvenirLTStd-Black.otf");
}

body {
  background-color: #fff;
}
